/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

nav {
  background-image: url("../images/bgtile.png");
  width: 100%;
  position: fixed;
}

article {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 100px;
}

.logo-info {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  padding-left: 50px;
  justify-content: center;
  
  width: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.logo button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  height: 50%;
  background: linear-gradient(to top, #204b70, rgba(112, 140, 190, 0.534));
  box-shadow: 0 0 3px black;
  border: 4px;
  border-radius: 5px;
  color: white;
  width: 100px;
  
}
